@charset 'UTF-8';

/*
COLORS
=============================================== */
:root {
    --grey: #212020;
    --light-grey: #838080;
    --white: #fff;
    --white-a: rgba(255, 255, 255, .6);
}

/*
GENERAL STYLING
================================================ */
html {
    /* 1rem = 100px定義 */
    font-size: 100%;
    /* スムーズスクロール */
    scroll-behavior: smooth;
}

body {
    color: var(--gray);
    font-family: sans-serif;
}

/* スマホでも背景固定 */
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(images/home_back.jpeg);
    background-size: cover;
}

/*
font-face
================================================ */
@font-face {
    font-family: "PerfectMoment-Script";
    src: url("../font/PerfectMoment-Script.eot");
    src: url("../font/PerfectMoment-Script.eot?#iefix") format("embedded-opentype"),
        url("../font/PerfectMoment-Script.woff") format("woff"),
        url("../font/PerfectMoment-Script.ttf") format("truetype"),
        url("../font/PerfectMoment-Script.svg") format("svg");
}

@font-face {
    font-family: "KiwiMaru-Light";
    src: url("../font/KiwiMaru-Light.eot");
    src: url("../font/KiwiMaru-Light.eot?#iefix") format("embedded-opentype"),
        url("../font/KiwiMaru-Light.woff") format("woff"),
        url("../font/KiwiMaru-Light.ttf") format("truetype"),
        url("../font/KiwiMaru-Light.otf") format("truetype"),
        url("../font/KiwiMaru-Light.svg") format("svg");
}

@font-face {
    font-family: 'Billy Ohio';
    src: url('Billy Ohio.eot');
    src: url('Billy Ohio.eot?#iefix') format('embedded-opentype'),
        url('Billy Ohio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BillyOhio';
    src: url('BillyOhio.svg#BillyOhio') format('svg'),
        url('BillyOhio.ttf') format('truetype'),
        url('BillyOhio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerfectMoment-Script';
    src: url('PerfectMoment-Script.eot');
    src: url('PerfectMoment-Script.eot?#iefix') format('embedded-opentype'),
        url('PerfectMoment-Script.svg#PerfectMoment-Script') format('svg'),
        url('PerfectMoment-Script.ttf') format('truetype'),
        url('PerfectMoment-Script.woff') format('woff'),
        url('PerfectMoment-Script.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*
COMMON
================================================ */
p {
    line-height: 1.7;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'KiwiMaru-Light', sans-serif;

}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'PerfectMoment-Script', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'KiwiMaru-Light', sans-serif;

}

h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-family: 'KiwiMaru-Light', sans-serif;

}

a {
    transition: .3s;
}

a:hover {
    color: var(--white);
}

/* 中央配置　*/
h1,
h2,
h3 {
    text-align: center;
}

/* Layout  画面のオブジェクトが広がるマックスサイズ＝wrapper　*/
.wrapper {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* スクロールトップボタン */
#js-pagetop {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 100px;
    cursor: pointer;
    z-index: 100;
    opacity: 60%;
}

.btn-menu {
    display: none;
}



/*
ローデイング画面
================================================ */
.loading {
    transition: all 1s;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

.loading.is-active {
    opacity: 0;
    visibility: hidden;
}

.loading-animation {
    width: 10%;
    height: 20%;
    transition: all 1s;
    background-color: var(--white);

    z-index: 9999;
    position: fixed;
    top: 75%;
    left: 45%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.loading-animation.is-active {
    opacity: 1;
    visibility: visible;
}

.loading-png {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: var(--white);

    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.loading-png.is-active {
    opacity: 1;
    visibility: visible;
}

#loading {
    /* 画面一杯にローディング画面を広げる */
    height: 100%;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    /* flexboxを使ってローディングアイコンを画面の中央に寄せる */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



/*
FADE
================================================ */
/* jqueryのフェードイン */
/* スクロールCSS */
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
}

/* アニメーションをつけたいタグのclassに class="fade-in fade-in-up"で下から上 */
.fade-in-up {
    transform: translate(0, 50px);
}

/* アニメーションをつけたいタグのclassに class="fade-in fade-in-down"で上から下 */
.fade-in-down {
    transform: translate(0, -50px);
}

/* アニメーションをつけたいタグのclassに class="fade-in fade-in-down"で右から左 */
.fade-in-left {
    transform: translate(-50px, 0);
}

.fade-in-right {
    transform: translate(50px, 0);
}

.scroll-in {
    opacity: 10;
    transform: translate(0, 0);
}





/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       HOME                                                = */
/* =                                                                                           = */
/* ============================================================================================= */



#top {
    text-align: center;
}


/* PC版長タイトル */
.maison {
    /* ポトフォのタイトル文字 */
    text-align: right;
    font-size: 3vh;
    color: var(--white);
    line-height: 1.0;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 4.5%;
    left: 5%;
}

.maison_img {
    position: absolute;
    top: -0.5px;
    width: 9%;
}

.maison_text {
    margin: 0 0 0 30px;
    padding: 0;
}


.bamble_logo {
    position: absolute;
    top: 40%;
    right: 3%;
    width: 20%;
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

/* ナビゲーション */
.gnav {
    width: 100%;
    background-image: url(images/menu.png);
}

.gnav_wrapper {
    max-width: 980px;
    margin: auto;
    display: flex;
}

.gnav_wrapper li {
    border-left: var(--white) 1px solid;
    text-align: center;
    width: calc(100%/4);
    transition: all 0.3s ease;
}

.gnav_wrapper li:last-child {
    border-right: var(--white) 1px solid;
}

.gnav_wrapper li:hover {
    background-color: var(--white-a);
}

.gnav_wrapper li a {
    display: block;
    padding: 0.5em 0;
    color: var(--white);
    text-decoration: none;
    font-family: 'PerfectMoment-Script', sans-serif;
    font-size: 1rem;

}




/* ****************************************** 横並びメニューボタン ******************************************  */

/* PC版横並びメニューナビ */
#top_nav {
    list-style: none;
    display: flex;
    position: absolute;
    top: 2%;
    right: 4%;
    z-index: 20;
}


#top_nav li {
    width: 80px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-right: 70px;
}

#top_nav li a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'PerfectMoment-Script', sans-serif;
}


/* ============================================================================================= */
/* =                                                                                           = */
/* =                                      EXPLAIN                                              = */
/* =                                                                                           = */
/* ============================================================================================= */

#explain {
    padding-top: 4rem;
    width: 75%;
    margin: 0 auto;
}


#explain2 {
    background-image: url(images/band2.jpg);
    padding-bottom: 2rem;
    background-size: cover;
}

.maru_box {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    list-style: none;
}


/* PC版は自由配置 */
@media (min-width: 809px) {

    .maru_img1 {
        position: relative;
        top: 150px;
        width: 200px;
        margin: 0 -2%;
    }

    .maru_img2 {
        position: relative;
        top: 0px;
        width: 200px;
    }

    .soap {
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        width: 400px;
    }
}


@media (min-width: 660px) and (max-width: 808px) {

    .maru_img1 {
        position: relative;
        top: 100px;
        width: 150px;
        margin: 5% 0;
    }

    .maru_img2 {
        position: relative;
        top: 0px;
        width: 150px;
        margin: 5% 0;
    }

    .soap {
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        width: 280px;
    }
}

/* SM版は四方配置 */
@media (max-width: 659px) {

    .maru_img1,
    .maru_img2 {
        position: relative;
        /* top: 0px; */
        width: 150px;
        margin: 5% 0;
    }

    .soap {
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        width: 280px;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}



.maru_1 {
    width: 160px;
    height: auto;
    border-radius: 70% 60% 50% 50% / 50% 60% 70% 80%;
}

.maru_2 {
    width: 160px;
    height: auto;
    background-color: var(--white);
    border-radius: 70% 50% 70% 60% / 40% 80% 60% 70%;
}





/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       NEWS                                                = */
/* =                                                                                           = */
/* ============================================================================================= */
#news {
    padding: 4rem 0;
    text-align: center;

}


.news-list {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 25%;
    justify-content: center;
}

.news-list .item:first-child a {
    border-top: 1px solid #CCC;
}

.news-list .item .date {
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: rgb(16, 14, 14);
    padding: 0 0% 0 0%;
}

.news-list .item .category {
    margin: 0;
    min-width: 140px;
    padding: 0 0px 0 0;
}

.news-list .item .category span {
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
    min-width: 200px;
}

.news-list .item a:hover .title {
    color: white;
}

/* 装飾 */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}




/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       LINEUP                                             = */
/* =                                                                                           = */
/* ============================================================================================= */


/* プロダクト簡易紹介版歪み丸 ラインナップ */

#lineup {
    padding: 2rem 1rem;
    background-image: url(images/band2.jpg);
    background-size: cover;

}


.lineup_box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding-top: 50px;
}


.lineup_img {
    width: 240px;
}


.maru_p1 {
    /* 正方形を作る */
    width: 190px;
    height: auto;
    /* 4つの角を丸める */
    border-radius: 70% 60% 50% 50% / 50% 60% 70% 80%;
}

.maru_p2 {
    /* 正方形を作る */
    width: 190px;
    height: auto;
    /* 4つの角を丸める */
    border-radius: 70% 60% 50% 50% / 50% 60% 70% 80%;
}




/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       PRODUCT                                             = */
/* =                                                                                           = */
/* ============================================================================================= */


/*
product
================================================ */
#product {
    padding-top: 100px;
    width: 75%;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 7rem;
}

#product h1 {
    margin-bottom: 2rem;
}

#product h2 {
    /* font-size: 2rem; */
    margin-bottom: 2rem;
}

#product p {
    text-align: center;
    /* font-size: 1.5rem; */
    margin-left: 10px;
    margin-right: 20px;
}

@media (max-width: 1250px) {
    #product p {
        font-size: 92%;
    }
}


/* flexbox用 */

#product .prd_flex {
    display: flex;
    /* gap: 15px; */
    justify-content: center;
    flex-wrap: wrap;
    /* height: 500px; */
}

/* product説明 */
.prd_txt_box {
    /* background-color: rgba(255, 255, 255, 0.914); */
    max-width: 500px;
    width: 45%;
    min-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;

    /* max-width: 800px; */
    /* height: 750px; */
    /* padding: 1%; */
}

@media (max-width: 1350px) {
    .prd_txt_box {
        padding-top: 0px;
    }
}


@media (min-width: 934px) {
    .sm_display_none_prd {
        display: none;
    }
}

@media (max-width: 933px) {
    .pc_display_none_prd {
        display: none;
    }
}


/* product画像 */
.prd_img_box {
    max-width: 500px;
    width: 45%;
    min-width: 350px;
}

.furo_img {
    width: 30%;
    min-width: 200px;
    padding: 1%;
}

.furo_txt {
    width: 30%;
    min-width: 300px;
    margin-top: 3%;
    padding: 1%;
}


/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       ABOUT                                               = */
/* =                                                                                           = */
/* ============================================================================================= */

/*
ABOUT
================================================ */



#about {
    padding: 6rem 0rem;
    margin-top: 6rem;


}

#about span {
    line-height: -3px;
}

#about h2 {
    margin-bottom: 2rem;
}

/* flexbox用 */
#about .sasu_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

/* 画像 */
.sasu_img_box {
    width: 33.333%;
    min-width: 350px;
}

@media (max-width: 699px) {
    .sasu_img_box {
        width: 100%;
    }
}

/* 説明 */
.sasu_img_box>p {
    position: absolute;
    top: 40%;
    padding-bottom: 10%;
    padding-left: 25%;
    color: #efefef;
    font-size: 1.3rem;
}

@media (max-width: 1350px) {
    .sasu_txt_box {
        padding-top: 0px;
    }
}


.about-list1 {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    list-style: none;
}

.about-list1>li {
    width: 80px;
}

/* ============================================================================================= */
/* =                                                                                           = */
/* =                                      SHOPPING                                             = */
/* =                                                                                           = */
/* ============================================================================================= */

#shopping {
    margin-top: 6rem;
    margin-bottom: 15rem;
}

#shopping .shop_flex {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.shop_box {
    height: 300px;
    width: 250px;
}

#shopping h2 {
    margin-bottom: 3rem;
}

#shopping p {
    font-size: 1rem;
}

.btn {
    margin-top: 20px;

}

/* 購入ボタン */
.btn-color.btn-cubic {
    border-bottom: 5px solid var(--grey);
    color: #838080;
    color: var(--light-grey);

}

.btn-color.btn-cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid var(--grey);
    color: var(--white);
}

.btn-radius {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: rgb(73, 72, 72);
    border-radius: 80vh;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}

/* ============================================================================================= */
/* =                                                                                           = */
/* =                                      ACCESS                                               = */
/* =                                                                                           = */
/* ============================================================================================= */

#access {
    text-align: center;
    margin-top: 6rem;

}

#access h2 {
    margin-bottom: 2rem;
}

/* ============================================================================================= */
/* =                                                                                           = */
/* =                                           SNS                                             = */
/* =                                                                                           = */
/* ============================================================================================= */
#sns {
    padding: 4rem 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media (max-width: 497px) {
    #sns {
        margin-bottom: 22rem;
    }
}


.sns-list1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sns-list1>sns-sentence {
    margin-left: 1rem;
    width: 800px;
    text-align: center;
}

.sns_box1 {
    width: 800px;
    height: 250px;
}

#sns img {
    width: 150px;
    margin: 40px;
    flex-wrap: wrap;
}

.sns-sentence>p {
    line-height: 1.7;
    margin-left: 1rem;
    width: 400px;
    flex-wrap: wrap;

}



/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       CONTACT                                             = */
/* =                                                                                           = */
/* ============================================================================================= */

/*
CONTACT
================================================ */
#contact {
    background-image: url(images/under.png);
    width: 100%;
    padding-bottom: 2rem;
    background-size: cover;
}

#contact h1 {
    padding-top: 3rem;
    color: var(--white);
}

.contact-form {
    max-width: 480px;
    margin: 0 auto 5rem;
}

.contact-form label {
    color: var(--white);
    display: block;
    margin-bottom: .5rem;
}

.contact-field {
    background: var(--white-a);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.contact-btn {
    background: var(--grey);
    color: var(--white);
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.contact-btn:hover {
    color: var(--light-grey);
}

/* ============================================================================================= */
/* =                                                                                           = */
/* =                                       FOOTER                                              = */
/* =                                                                                           = */
/* ============================================================================================= */

.footer {
    border-top: 1px solid var(--white-a);
    padding-top: 2rem;
    text-align: center;
    font-size: .875rem;
    color: var(--white);
}

.footer a {
    text-decoration: underline;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @                                                                    @ */
/* @                               @media                               @ */
/* @                                                                    @ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*
DESKTOP SIZE ＜PC＞
================================================ */
@media (min-width: 600px) {

    /* Common */
    h1 {
        font-size: 6rem;
    }

    .contact-btn:hover {
        transition: .3s;
    }

    .contact-btn:hover {
        background: var(--white);
    }

    /* Header */
    .main-nav {
        width: 100%;
        position: static;
        display: flex;
    }

    .main-nav li {
        margin: 0 0 0 1.5rem;
    }

    /* home */
    .home-table td {
        display: table-cell;
    }

    .home-date {
        padding: 1.125rem 0 1rem 1rem;
    }

    .home-content {
        padding: 1rem 1rem 1rem 0;
    }

    .about-list {
        margin-bottom: 3rem;
    }

    .about-text {
        margin-left: 2rem;
    }

    .menu {
        display: none;
    }

    /* ミニタイトル非表示*/
    .pc_display_none {
        display: none;
    }

    /* 縦長トップ画像非表示 */
    .sm_top_bamble {
        display: none;
    }


    /* 竹酢上配置画像非表示 */
    .no_pc {
        display: none;
    }

}

/*
DESKTOP SIZE ＜SM＞
================================================ */
@media (max-width: 599px) {

    /* 横並びナビ非表示*/
    .top_nav {
        display: none;
    }

    .sm_display_none {
        display: none;
    }

    /* 横長トップ画像非表示 */
    .top_bamble {
        display: none;
    }

    /* NEWS */
    .news-list .item a {
        flex-wrap: wrap;
    }

    .news-list .item .date {
        min-width: 100px;
    }

    .news-list .item .title {
        margin-top: 10px;
    }

    /* 竹酢上配置画像非表示 */
    .no_pc {
        display: none;
    }

    .maison {
        display: none;
    }

    .maison_img {
        display: none;
    }
}

/*
DESKTOP SIZE ＜SM＞
================================================ */
@media (min-width: 930px) {

    /* 横並びナビ非表示*/
    .gnav {
        display: none;
    }
}

@media (max-width: 929px) {

    /* 横並びナビ非表示*/
    .pc_nav {
        display: none;
    }
}