@font-face {
  font-family: 'Billy Ohio';
  src: url('Billy Ohio.eot');
  src: url('Billy Ohio.eot?#iefix') format('embedded-opentype'),
       url('Billy Ohio.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BillyOhio';
  src: url('BillyOhio.svg#BillyOhio') format('svg'),
       url('BillyOhio.ttf') format('truetype'),
       url('BillyOhio.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PerfectMoment-Script';
  src: url('PerfectMoment-Script.eot');
  src: url('PerfectMoment-Script.eot?#iefix') format('embedded-opentype'),
       url('PerfectMoment-Script.svg#PerfectMoment-Script') format('svg'),
       url('PerfectMoment-Script.ttf') format('truetype'),
       url('PerfectMoment-Script.woff') format('woff'),
       url('PerfectMoment-Script.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
